# Custom

*.class
**/*.class
*.jar
**/*.jar

ZZ_Proprietary-Ignored/*
.vscode/
build/

.ipynb_checkpoints/
**/.ipynb_checkpoints/

**/__pycache__/
**/images/
python/OGRE/pugixml/

zig/mach/

d/raylib/*/*.app
d/raylib/*/*.so*

C++/OpenGL/*/cpp_helpers 
C++/OpenCV/data/*

*.out
**/*.out
*.zip
**/*.zip

# Prerequisites

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
# `**/` , Match to arbitrary depth
*.exe
*.out
*.app
*.o
**/*.o 
bin/
**/bin/
